@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

:root {
  --color-background: #f9f8f8;
  --color-text: #7f7f7f;
  --color-primary: #fee400;
  --color-hover: #fada0a;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 80px;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #fff;
}

a {
  color: inherit;
}

ul {
  padding-left: 20px;
  list-style-type: '· ';
  font-size: 14px;
  color: var(--color-text);
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.notice {
  width: 100%;
  padding: 20px;
  margin-bottom: 16px;
  background-color: var(--color-background);
  border-radius: 8px;
}

.notice summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-size: 15px;
  line-height: 1.46;
}

.notice summary::-webkit-details-marker {
  display: none;
}

.notice[open] summary i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  transform: rotateZ(180deg);
}

.link-start {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  text-decoration: none;
  background-color: var(--color-primary);
  border-radius: 8px;
  transition: background-color 200ms;
}

.link-start:hover {
  background-color: var(--color-hover);
}
